{% load static %}
<!DOCTYPE html>
<html>

<head>

  <title>GameZone</title>
  <style>
    ul a{
      color: white;
      
    }
    ul a:hover{
      color: white;
    }
  </style>

</head>

    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg" style="background-color: #000000;">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <i class="bi-back"></i>
                        <span>GameZone</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person "></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto" style="margin-left: 250px; gap: 20px;">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'game_list' %}">Games</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'purchase_history' %}">History</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'user_logout' %}">Logout</a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            <br>
            <br>

            {% include 'footer.html' %}

    </body>
</html>
